/* ------ 注释模板 --- start ------ */
/* ------ 注释模板 ---  end  ------ */
@black:rgb(22,20,24);
@grayBlack:rgb(51,46,51);
@whiteLight:rgb(237,236,237);
@green : #06AE14;
@white:#fff;
@fontGray:#C0C0C0;

// -----------
@redLight:#F76059;
@blueLight:#4F8DFA;


.setting *{
    font-size: 0.3rem;
    .am-badge-text{
        line-height: 0.36rem;
    }
    .am-list-item img{
        width: 1rem;
        height: 1rem;
    }
}
// .mySetting{
//     height: 0.8rem;
//     display: flex;
//     .am-badge-text{
//         line-height: 0.36rem;
//     }
//     &:img{
//         height: inherit;
//         width:inherit;
//         margin-right: 0.08rem;
//         display: block;
//     }
//     .mySimpleInfo{
//         // p:last-child{
//         //     color:@grayBlack;
//         // }
//         .vip{
//             text-align: center;
//             line-height: 0.3rem;
//             padding:0.02rem 0.08rem;
//             border-radius: 0.1rem;
//             color:@white;
//         }
//         .isVip{
//             background: @blueLight;
//             display: inline-block;
//             .vip;
//         }
//         .notVip{
//             display: none;
//         }
//     }
//     .usersWithMe{
//         & .vipType{
//             color:@fontGray;
//             font-size: 0.1rem;
//         }
//         & .numTip{
//             display: block;
//             width: 0.2rem;
//             height: 0.2rem;
//             border-radius: 50%;
//             color:@white;
//             background-color: @redLight;
//         }
//     }
//     .visitorAndSetting{
//         .numVistor{
//             background-color: @blueLight;
//         }
//     }
// }