/* ------ 注释模板 --- start ------ */
/* ------ 注释模板 ---  end  ------ */
.friendMsg-list * {
  font-size: 0.3rem;
}
.friendMsg {
  display: flex;
  /* ------ 废弃css --- start ------ */
  /* ------ 废弃css ---  end  ------ */
}
.friendMsg p {
  padding: 0;
  margin: 0;
  height: 0.64rem;
  line-height: 0.64rem;
}
.friendMsg .am-list-thumb img {
  width: 1rem;
  height: 1rem;
}
.friendMsg .friendMsg-content {
  width: 100%;
  position: relative;
}
.friendMsg .friendMsg-content .latestMsg {
  float: left;
  color: #C0C0C0;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.friendMsg .friendMsg-content .latestTime {
  float: right;
  color: #C0C0C0;
}
.friendMsg .friendMsg-content:after {
  content: '1';
  position: absolute;
  top: -0.1rem;
  left: -0.2rem;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border-radius: 50%;
  background-color: #F76059;
  color: #fff;
  font-size: 0.1rem;
  text-align: center;
}
.friendMsg img {
  height: 1.28rem;
  width: 1.28rem;
  margin-right: 0.08rem;
  display: block;
  position: relative;
}
