/* ------ 注释模板 --- start ------ */
/* ------ 注释模板 ---  end  ------ */
//  antd-mobile 像素解释： 1rem == 50px
@noteTemplate : ' ------ 注释模板 --- start ------ ';


// .init{margin:0;padding:0;}

// .fl{float:left;}

// .fr{float: right;}
html{
    /* 默认 16px; 16px == 100% */
    /* 为了容易计算，我想要修改默认rem就是 10px  10/16就是 1rem */
    // font-size: 62.5%;
    /*那么目标rem就是 ??px/10px = ? rem*/
}

/* ------ 颜色变量 --- start ------ */
@green : #06AE14;
@lightGray:#F3F3F5;

.bglightGray {background:@lightGray}
.opa8{opacity: 0.8;}
/* ------ 颜色变量 ---  end  ------ */





/* ------ 布局变量 --- start ------ */
    /* 目的设置一个固定不能变动的 100%，等同 per(100%) layout(100%,100%)*/
@pageHeight:10rem;



/* ------ 布局变量 ---  end  ------ */





/* ------ 自定义样式 --- start ------ */

/* ------ 选项卡公共部分 --- start ------ */
.main-page{
}

.main-content{
    // height: 100%;
}
.friendShow{
    // width:25%;
}
.friendMsg,
.friendList,
.friendShow,
.setting{
    // width:25%;
}

.bodyFooter{
   
}
/* ------ 选项卡公共部分 ---  end  ------ */

/* ------ 聊天窗口 --- start ------ */
.friendMsg{
    
}
/* ------ 聊天窗口 ---  end  ------ */

/* ------ 通讯录 --- start ------ */
.friendList{
    
}
/* ------ 通讯录 ---  end  ------ */


/* ------ 朋友圈 --- start ------ */
.friendShow{
    
}
/* ------ 朋友圈 ---  end  ------ */



/* ------ 设置 --- start ------ */
.setting{
    
}
/* ------ 设置 ---  end  ------ */


/* ------ 自定义样式 ---  end  ------ */






/* ------ bug样式覆盖 --- start ------ */
.am-indexed-list-container{
    position: relative;
}

/* ------ bug样式覆盖 ---  end  ------ */


